body {
  background-color: #CBCBB2;
  margin: 0;
}

h1 {
  text-align: center;
  font-family: 'Satisfy', cursive;
  font-size: 35px;
}

/*#h1 {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    color: black;
    font-size: 35px;
}*/

#maioresinfo {
  font-size: 20px;
}

.vintepx {
  font-size: 20px;
}

section p {
  font-family: 'Pathway Gothic One', sans-serif;
  font-size: 30px;
}

ul {
  font-family: 'Pathway Gothic One', sans-serif;
  font-size: 20px;
}

.modal button {
  background-color: black;
  color: white;
}

input {
  height: 29px;
}

button {
  font-size: 18px;
  padding: 7px 25px;
  color: black;
  border: 0;
  border-radius: 60px;
}
/*
.banner {
  position: relative;
}

.banner img {
  width: 100%;
}

.banner h1 {
  position: absolute;
  bottom: 30px;
  right: 30px;
  color: white;
  font-size: 45px;
  font-weight: bold;
}

.grid {
  display: flex;
  flex-wrap: wrap;
}

.grid div {
  position: relative;
  width: 33.33%;
  margin-top: -4px;
}

.grid div img {
  width: 100%;
}

.grid div p {
  position: absolute;
  bottom: 10px;
  left: 10px;
  color: white;
  font-size: 24px;
}
*/
.modal {
  text-align: center;
  font-size: 20px;
  position: fixed;
  top: 50px;
  left: 25%;
  display: none;
  width: 50%;
  padding: 2%;
  border: 1px solid gray;
  border-radius: 50px;
  background-color: white;
}

/*@media(max-width: 600px)define regras para aparelhos com o display menor que 600px*/

@media(max-width: 600px) {
  .banner div {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: black;
    top: 0;
    opacity: 0.6;
  }
  .grid {
    display: block;
  }
  .grid div {
    width: 100%;
  }
  .banner h1 {
    top: 0;
    left: 0;
    width: 100%;
    text-align: center;
  }
}
